---
import KeepScrolling from "@/assets/keep-scrolling.svg"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/eltiogloglo/eltiogloglo.ico" />
    <meta name="description" content="Únete a mi comunidad de análisis deportivo hoy mismo. Descubre mi estrategia probada completamente gratis, sin mensualidades ni cuotas de entrada.">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://lalonsovc1.github.io/eltiogloglo/">
  <meta property="og:title" content="Alinea tu Juego al Dinero | Acceso 100% Gratis">
  <meta property="og:description" content="Únete hoy mismo a mi canal VIP. Estrategias probadas de análisis deportivo con acceso libre de costos. ¡Sin trucos ni cuotas de entrada!">
  <meta property="og:image" content="https://lalonsovc1.github.io/eltiogloglo/eltiogloglo.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="https://lalonsovc1.github.io/eltiogloglo/">
  <meta name="twitter:title" content="Alinea tu Juego al Dinero | Acceso 100% Gratis">
  <meta name="twitter:description" content="Únete hoy mismo a mi canal VIP. Estrategias probadas de análisis deportivo con acceso libre de costos. ¡Sin trucos ni cuotas de entrada!">
    <title>EL TIO GLOGLO</title>
  </head>
  <body>
    <slot />
    <KeepScrolling
      class="fixed bottom-3 right-0 left-0 mx-auto text-pink-300 drop-shadow-2xl animate-bounce-pulse"
    />
  </body>
</html>

<style is:global>
  @import "tailwindcss";

  @theme {
    --font-sans: "GTA", system-ui, sans-serif;
    --font-narrow: "GTANarrow", system-ui, sans-serif;

    --animate-bounce-pulse: bounce-pulse 2s ease-in-out infinite;
  }

  @keyframes bounce-pulse {
    0% {
      transform: translateY(0);
      scale: 0.8;
      opacity: 0.8;
    }

    50% {
      transform: translateY(-5px);
      opacity: 1;
      scale: 1;
    }

    100% {
      transform: translateY(0);
      scale: 0.8;
      opacity: 0.8;
    }
  }

  html,
  body {
    background: #111;
    height: 300vh;
    overflow-x: hidden;
    overscroll-behavior: none;
    color: white;
    margin: 0;
    width: 100%;
  }

  @font-face {
    font-family: GTA;
    src: url("/fonts/gta-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: GTA;
    src: url("/fonts/gta-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: GTA;
    src: url("/fonts/gta-semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: GTANarrow;
    src: url("/fonts/gta-narrow.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
